a {
  text-decoration: none;
  color: inherit;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  color: rgb(151, 150, 150);
}
.header-ttl {
  width: 100%;
  height: 100%;
  display: block;
}
.header-nav-list {
  display: flex;
  list-style: none;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

/* --------------------------------------------------- */

.parent {
  position: relative;
}

.img1 {
  width: 60%;
  margin: 0 0 0 auto;
}
.img2 {
  width: 100%;
  height: 100%;
  display: block;
}

.title {
  position: absolute;
  top: 5%;
  left: 20%;
}
.title1 {
  font-family: 'Indie Flower', cursive;
  line-height: 1.6;
  font-size: 60px;
  color: rgb(177, 34, 93);
}
.green {
  color: rgb(0, 140, 165);
}
.title2 {
  color: rgb(177, 34, 93);
  font-weight: bold;
  font-size: 20.5px;
}
.gray {
  color: rgb(151, 150, 150);
  font-size: 14.5px;
  font-weight: lighter;
  line-height: 1.2;
  }

/* --------------------------------------------------- */
.news {
  margin: 100px auto auto auto;
  width: 55%;
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
  color: rgb(177, 34, 93);
}

.new-i {
  margin: auto;
  width: 55%;
  font-size: 22px;
  color:rgb(122, 122, 122);
  padding: 0 0 15px 0;
}

.line {
  margin: 25px auto 13px auto;
  display: block;
  width: 55%;
  background: rgb(179, 178, 178);
  height: 1px;
}

.table01 {
  margin: auto;
  width: 55%;
  text-align: left;
}

.th {
  display: inline-block;
  color:rgb(151, 150, 150);
  font-weight: lighter;
  padding: 20px 0;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.tablenews {
  color:white;
  font-size: 14px;
  background: rgb(177, 34, 93);
  border-radius: 10px;
  padding: 4px 15px;
  margin: 30px 20px;
}

/* --------------------------------------------------- */
.parent2 {
    background: #f1f0f0;
    height: 420px;
    position: relative;
}

.news-2 {
  margin: 100px auto auto auto;
  padding: 30px 0 0 0;
  width: 55%;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
  color: rgb(177, 34, 93);
}

.new-i-2 {
  margin: auto;
  width: 55%;
  text-align: center;
  font-size: 22px;
  color:rgb(136, 136, 136);
  padding: 0 0 15px 0;
}
.img3 {
  position: absolute;
  top: 35%;
  right: 18%;
  width: 25%;
  margin: 0 0 0 auto;
}

.gray2 {
  position: absolute;
  top: 35%;
  left: 18%;
  color: rgb(151, 150, 150);
  font-size: 14.5px;
  font-weight: lighter;
  line-height: 1.6;
  }

/* --------------------------------------------------- */

.news-3 {
  margin: 100px auto auto auto;
  width: 65%;
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
  color: rgb(177, 34, 93);
}

.new-i-3 {
  margin: auto;
  width: 65%;
  font-size: 22px;
  color:rgb(136, 136, 136);
  padding: 0 0 15px 0;
}

.table02 {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  width: 65%;
}

.row1 {
  width: 50%;
  background: rgb(168, 11, 111);
  padding: 5%;
}
.row2 {
  width: 90%;
  padding: 5%;
  display: flex;
  background: rgb(160, 59, 123);
  border: 1px rgb(160, 59, 123) solid;
}
.row3 {
  width: 90%;
  padding: 5%;
  display: flex;
  background: rgb(158, 113, 141);
  border: 1px rgb(158, 113, 141) solid;
}

.img4 {
  width: 130px;
}

.kyouiku {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.kyouiku2 {
  text-align: left;
  color: white;
  font-size: 16px;
  line-height: 3.0;
  font-weight: bold;
}

.sample {
  color: white;
  font-weight: lighter;
  font-size: 14px;
  text-align: left;
}
.sample2 {
  color: white;
  font-weight: lighter;
  font-size: 14px;
  text-align: center;
}
/* --------------------------------------------------- */
.parent3 {
    background: #f1f0f0;
    height: 525px;
    position: relative;
}

.news-4 {
  margin: 100px auto auto auto;
  padding-top: 30px;
  width: 65%;
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
  color: rgb(177, 34, 93);
}

.wrapper{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
}
.img5 {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}
.card {
  width: 30%;
  cursor: pointer;
  border: 1px solid #f1f0f0;
  border-radius: 15px;
  background: #ffffff;
}

.content-img {
  display: flex;
  position: relative;
}

.blog {
  position: absolute;
  display: inline-block;
  background: rgb(177, 34, 93);
  color: white;
  border-radius: 15px 0 0 0;
  font-weight: lighter;
  padding: 6px 15px;
  font-size: 14px;

}
.text-box {
  padding: 15px;
}
.cardp {
  font-size: 15px;
  color: rgb(136, 136, 136);
  transform: translate(0px, -10px);
}
.datep {
  display: flex;
  justify-content: space-between;
  transform: translate(0px, 10px);
}

.date {
  font-size: 13px;
  margin-top: 5px;
  color: rgb(136, 136, 136)
}

.ichi {
  text-align: center;
}

.ichiran {
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  color: rgb(177, 34, 93);
  border-radius: 30px;
  border: 1px solid rgb(177, 34, 93);
  padding: 15px 45px;
}

/* --------------------------------------------------- */

.table03, td{
  color: rgb(133, 133, 133);
  border: 1px rgb(196, 196, 196) solid;
  border-collapse: collapse;
  margin: auto;
  width: 55%;
  padding: 14px;
}

.th2 {
  border: 1px rgb(196, 196, 196) solid;
  background: #f1f0f0;
  text-align: left;
  width: 20%;
}
/* --------------------------------------------------- */
.lastimg {
  display: flex;
  margin-top: 100px;
}

.recruit {
  width: 100%;
  position: relative;
}
.recruitimg{
  width: 100%;
}
.recruittext {
  font-size: 28px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-100%);
}

.interview {
  width: 100%;
  position: relative;
}
.interviewimg {
  width: 100%;
}
.interviewtext {
  font-size: 28px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-100%);
}
/* --------------------------------------------------- */
.toiawase {
  text-align: center;
}

.toiawase1 {
  margin-top: 50px;
  font-size: 17px;
  color: #5c5c5c;
  font-weight: bold;
}

.tate {
  display: inline-block;
  width: 1px;
  background: rgb(177, 34, 93);
  height: 30px;
}

.toiawase2 {
  box-shadow: 0px 8px 0 rgb(109, 22, 58);
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  display: inline-block;
  background: linear-gradient(90deg,#df349d, rgb(177, 34, 93));
  color: rgb(177, 34, 93);
  border-radius: 40px;
  border: 1px solid rgb(177, 34, 93);
  padding: 22px 70px;
}

.toiawasetext {
  position: relative;
  color: white;
  padding: 10px;
}

.toiawasetext::before {
  content: "";
  position: absolute;
  top: 50%;
  left: auto;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 28px;
  height: 25px;
  transform: translate(-200%, -50%);
}
/* --------------------------------------------------- */
.parent4 {
  position: relative;
  margin-top: 50px;
  background: #f1f0f0;
  height: 50px;
  text-align: center;
}

.small {
  color: #777777;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}